{% extends "base.html" %}
{% load static %}

{% block title %}
    My blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}    

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Sush's Blog</a></h1>
        <nav>
            <a href="">All posts</a>
        </nav>
    </header>
    <section id="welcome"> 
        <header>
            <img src="" alt="Sushovit- I own this Blog."/>
            <h2>SUSHOVIT'S BLOG</h2>
        </header>
        <p>Hey there, I am Sushovit and that's all you need to know.</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thought</h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Mountain Hiking"/>
                        <div class="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>You got to see this view as it is such enjoyable and 
                                refreshing. If you need a break from this exhausting day
                                day  routine, come hike to the mountains and endulge 
                                youself in the nature.
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>I love programmes and games and sometimes social interaction</p>
        <p>
            My goal is to get Internship as soon as possible.
            You can say I am desparate about it.
        </p>
    </section>
{% endblock %}